.order {
    display: flex;
    flex-direction: row;
    width: 85%;
    @include margin-y(5vh);

    form {
        @include center-elements(center, center);
        flex-direction: column;

        div {
            width: 60%;
        }
    }
}

.order-form {
    flex-grow: 1;
}

.cart-wrapper {
    display: flex;
    width: 50%;
}
